*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  --black: #0D114F;
  --white: #FAFAFA;
  --red: #E83F5B;
  --ligth-blue:#E0ECFF;
  --blue:#3485FF;
  --background: #FBFCFF;
  --overlay:#040911;
  --icons-details:#A5B0C1;

  --grey-grey: #4D5E77;
  --grey-medium: #eaecf2;
  --grey-dark:#4D5E77;
  --grey-blue:#A1B2CD;
  --grey-light:#E5EAF1;

  /* *** 1rem = 16px (usa) 100% *** */
  font-size: 62.5%; /*10px */
}

body{
  display:flex;
  height: 100vh;
  background: var(--background)
}

body, button, input, textarea{
  font-size: clamp(14px, 1.6rem, 2vw);

  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

/* input and buttons */
input, button, .button{
  border-radius:0.8rem;
  height: 5rem;
}

button, .button{
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--black);
  color: var(--white);

  transition: filter .2s;
  
  cursor:pointer ;
}

button:hover, .button:hover{
  filter: brightness(1.2);
}


/* HEADER */
label {
  padding: 1rem;
}

input {
  padding: 3rem;
}

/* Cards */
.cards {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.card {
  width: stretch;
}



